<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-secondary text-white">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lista de cambios</h5>
            <small>Enero 2020</small>
        </div>
        <p class="mb-1">Añadimos changelog
        </p>
        <small>V 0.0.1</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lista de cambios</h5>
            <small class="text-muted">Enero 2020</small>
        </div>
        <p class="mb-1">Añadimos un buscador de blogs muy sencillo</p>
        <p class="mb-1"> Detalles esteticos menores</p>
        <p class="mb-1">Movimos unos blogs</p>
        <p class="mb-1">Completamos unas informaciones en about...</p>
        <p class="mb-1">Añadimos nuevos bugs</p>
        </p>
        <small class="text-muted">V 0.0.2</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lista de cambios</h5>
            <small class="text-muted">Enero 2020</small>
        </div>
        <p class="mb-1">con /login logeabas con tu facebook y pues nada sacamos tu correo y nombre, aun no sirve por
            temas de Facebook privacity</p>
        <p class="mb-1">se corregen bugs de agregar posts*</p>
        </p>
        <small class="text-muted">V 0.0.3</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lista de cambios</h5>
            <small class="text-muted">1 Febrero 2020</small>
        </div>
        <p class="mb-1">Agregamos comentarios, restringimos la creacion de usuarios</p>
        <p class="mb-1">Escondimos el legacy del blog anterior</p class="mb-1">
        <p class="mb-1">Algunas mejoras visuales</p>
        <p class="mb-1">Hasta este punto podria decirse que ya tenemos un sistema funcional donde todos pueden crear sus
            posts (cosa que por el
            momento esta mal, pero como aun estamos en prealpha y los registros son limitados, no me preocupa mucho)</p>
        <p class="mb-1">Agregamos nuevos bugs!!!</p>
        </p>
        <small class="text-muted">V 0.1.0</small>
    </a>