
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4" alt="/video/promise">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Stair-wave</h1>
                <p class="lead mb-0">Tecnologia del ayer</p>
            </div>
        </div>
    </div>
</header>


<div class="container-fluid" align="center">
        <br>
        <h1>Bienvenido a este espacio</h1>
        <br>
        <p>  </p>
    </div>
</div>
<div class="container-fluid" align="center" >

  
    <div class="jumbotron-fluid">
        <br>
        <img src="imgs/mix.jpg" class="img-fluid">
        <br>
        <a href="/post/"><h3>多Quieres leer acerca de mis playlist?</h3></a>
        <br>
    </div>
    <div class="jumbotron-fluid">
        <br>
        <h1>LEGACY BLOG...</h1>
    <br>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
       
        <iframe src="https://un-blog-sin-mucha-trascendencia.blogspot.com/"
            class="embed-responsive embed-responsive-16by9"></iframe></iframe>
    </div>
</div>
</div>
<div class="jumbotron-fluid" align="center">
    <br>
    <h1>Changelog</h1>
    <p>V 0.0.1</p>
    <p>A単adimos changelog xd</p>
    
    <p>A単adimos un buscador de blogs muy sencillo</p>
    <p>Detalles esteticos menores</p>
    <p>Movimos unos blogs</p>
    <p>Completamos unas informaciones en about...</p>
    <p>A単adimos nuevos bugs</p>
    <br>

    <p>V 0.0.2</p>
    <p>con /login te hackeamos tu fb paps y pues nada sacamos tu correo aun no sire para nada pero ai esta </p>
    <p>se corregen bugs de agregar notas</p>

</div>