<!DOCTYPE html>
<html lang="en">

<head>
    <title>Civic - CV Resume</title>
    <meta charset="UTF-8">
    <meta name="description" content="Civic - CV Resume">
    <meta name="keywords" content="resume, civic, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
   


    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section start -->
  {{!--   <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="site-logo">
                        <h2><a href="#">Stairwave</a></h2>
                        <p>Yesterday tech</p>
                    </div>
                </div>
                <div class="col-md-8 text-md-right header-buttons">
                    <a href="#" class="site-btn">Descarga mi CV</a>
                </div>
            </div>
        </div>
    </header> --}}
    <!-- Header section end -->

    <!-- Hero section start -->
    <section class="hero-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero-text">
                                <h2>Adolfo Huerta</h2>
                                <p>Soy un desarrollador emprendedor en busca de nuevos retos.</p>
                            </div>
                            <div class="hero-info">
                                <h2>Informacion General</h2>
                                <ul>
                                    <li><span>Fecha de Nacimiento</span> Diciembre 19, 1999</li>
                                    <li><span>E-mail</span>m.adolfohuerta@gmail.com</li>
                                    <li><span>Phone </span>+52 1 5548701797</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <figure class="hero-image">
                                <img src="img/hero.jpg" alt="5">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->

    <!-- Social links section start -->
    <div class="social-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="social-link-warp">
                        <div class="social-links">
                            <a href="https://www.instagram.com/adolfo_ware/?hl=es-la"><i class="fa fa-instagram fa-2x"></i></a>
                            <a href="https://www.facebook.com/MichaelHuertaRamirez"><i class="fa fa-facebook fa-2x"></i></a>
                            <a href="https://es.quora.com/profile/Adolfo-Huerta-Ram%C3%ADrez"><i class="fab fa-quora fa-2x"></i></a>

                            
                           
                        </div>
                        <h2 class="hidden-md hidden-sm"> Redes Sociales</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Social links section end -->

    <!-- Resume section start -->
    <section class="resume-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-2">
                    <div class="section-title">
                        <h2> Experiencia laboral</h2>
                    </div>
                    <ul class="resume-list">
                        <li>
                            <h2>2020-Present</h2>
                            <h3>Nueva Empresa!</h3>
                            <h4>Web Developer</h4>
                            <p>Estoy trabajando junto a un gran amigo en desarrollar un sistema para darle un giro ala Orientacion Vocacional</p>
                        </li>
                        <li>
                            <h2>2017-2018</h2>
                            <h3>Centro de Lenguas Extranjeras Unidad Santo Tomas</h3>
                            <h4>Desarrollador Web</h4>
                            <p>Elabore un sistema de gestion de usuarios para el Autoacceso del centro y asi optimizar tiempos, recursos y mejorar el entorno laboral! </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Resume section end -->

    <!-- Resume section start -->
    <section class="resume-section with-bg spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-2">
                    <div class="section-title">
                        <h2>Educacion</h2>
                    </div>
                    <ul class="resume-list">
                        <li>
                            <h2>2020</h2>
                            <h3>Estudiante de Ciencias de la Informatica</h3>
                            <h4>Unidad Profesional Interdisciplinaria de Ingeniería y Ciencias Sociales y Administrativas</h4>
                            <p>Actualmente estoy estudiando la Licenciatura para cumplir mis metas profesionales y ser parte de la comunidad de profesionales de la Informatica </p>
                        </li>
                        <li>
                            <h2>2019</h2>
                            <h3>Programador</h3>
                            <h4>Centro de Estudios Cientificos y Tecnologicos "Juan de Dios Batiz" </h4>
                            <p>Alcanze mi grado de tecnico tras una trayectoria llena de retos, oportunidades y gratas experiencias </p>
                        </li>

                      
                    </ul>
                    
                </div>
               
            </div>
            
        </div>
    </section>
    <!-- Resume section end -->


    <!-- Review section start -->
    <section class="review-section spad pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-2">
                    <div class="section-title">
                        <h2>Un poco más de mi...</h2>
                    </div>
                    <div class="review-slider owl-carousel">
                        <div class="single-review">
                           
                            <h2>Cursos</h2>
                            <p>Curso Básico de Marketing Digital Curso Online IAB Spain 2017</p>
                            <p>Curso de Desarrollo de Apps Móviles Curso Online Universidad Complutense
                            Madrid 2017</p>
                            <p>Curso de Productividad Personal en la Era Digital Curso Online Fundación Santa María la Real. 2018</p>
                            <p>Curso Competencias digitales para Profesionales Curso Online Fundación Santa
                            María la Real. 2018</p>
                            <p>Curso Métodos Generacion Ideas de Negocio en el Centro de Incubación de Empresas de Base Tecnológica Curso Presencial 2019</p>
                        </div>
                        
                        <div class="single-review">
                           
                            <h2>Concursos</h2>
                            <p>Tercer Lugar Premio Mejores Prototipos en la categoria de Software por el
                            proyecto Coins organizado por la Dirección de Educación Media Superior del IPN</p>
                            <p>Participación en el UNAMXHacks 2019 en la categoría de Fintech.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Review section end -->


    <!-- Portfolio section start -->
    <section class="portfolio-section spad pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-md-8 offset-xl-2 ">
                    <div class="section-title">
                        <h2>Portafolio</h2>
                    </div>
                </div>
                
            </div>
            <div class="portfolio-warp">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="portfolio-item">
                            
                            <img src="img/git.jpg" class="set-bg port-pic">
                            <a href=""><h2>Github</h2></a>
                           
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="portfolio-item">
                            <img src="img/LogoSC.jpg" class="set-bg port-pic">
                            <h2>Coins!</h2>
                            
                        </div>
                    </div>
    
                   
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio section end -->

    <section class="portfolio-section spad pb-0">
        <div class="container-fluid">
            <div class="col-xl-4 col-md-8 offset-xl-2 ">
                <div class="section-title">
                    <h2>Tecnologias</h2>
                </div>
                <div class="row" >
                    <div class="col-sm" ><i class="fab fa-java fa-5x"></i></div>
                    <div class="col-sm" ><i class="fab fa-node fa-5x"></i></div>
                    <div class="col-sm"><i class="fab fa-html5 fa-5x"></i></div>
                    <div class="col-sm"><i class="fab fa-android fa-5x"></i></div>  
                </div>
            </div>
        </div>
    </section>

    <!-- Extra section start -->
    <section class="extra-section spad pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="section-title">
                        <h2>Extra Skills</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 pt-5">
                            <div class="fact-box trans">
                                <div class="fact-content">
                                    <div class="circle-progress">
                                        <div id="progress1" class="prog-circle"></div>
                                        <div class="progress-info">
                                            <h2>70%</h2>
                                        </div>
                                        <div class="prog-title">
                                            <h3>Ingles</h3>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 pt-5">
                            <div class="fact-box trans">
                                <div class="fact-content">
                                    <div class="circle-progress">
                                        <div id="progress2" class="prog-circle"></div>
                                        <div class="progress-info">
                                            <h2>83%</h2>
                                        </div>
                                        <div class="prog-title">
                                            <h3>Geek</h3>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="fact-box">
                                <div class="fact-content">
                                    <img src="img/icon/1-w.png" alt="">
                                    <h2>1</h2>
                                    <p>Año de Experiencia</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="fact-box">
                                <div class="fact-content">
                                    <img src="img/icon/2-w.png" alt="">
                                    <h2>1</h2>
                                    <p>Premios obtenidos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Extra section end -->

    <!-- Contact section start -->
    <section class="contact-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="section-title">
                        <h2>Contactame!</h2>
                    </div>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Nombre">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="E-mail">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Asunto">
                                <textarea placeholder="Mensaje"></textarea>
                            </div>
                        </div>
                        <div class="text-md-right">
                            <button class="site-btn">Enviar!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section end -->

    <!-- Footer section start -->
    <footer class="footer-section">
        <div class="container text-center">
            <div class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- Footer section end -->


    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/circle-progress.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>