
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4" alt="/video/promise">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Stair-wave</h1>
                <p class="lead mb-0">Tecnologia del ayer</p>
            </div>
        </div>
    </div>
</header>


<div class="container-fluid" align="center">
        <br>
        <h1>Bienvenido a este espacio</h1>
        <br>
        <p>  </p>
    </div>
</div>
<div class="container-fluid" align="center" >

  
    <div class="jumbotron-fluid">
        <br>
        <img src="imgs/mix.jpg" class="img-fluid">
        <br>
        <a href="/post/"><h3>多Quieres leer acerca de mis playlist?</h3></a>
        <br>
    </div>
   
</div>
</div>


</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-secondary text-white">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lista de cambios</h5>
            <small>Enero 2020</small>
        </div>
        <p class="mb-1">A単adimos changelog 
        </p>
        <small>V 0.0.1</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lista de cambios</h5>
            <small class="text-muted">Enero 2020</small>
        </div>
        <p class="mb-1">A単adimos un buscador de blogs muy sencillo</p>
        <p class="mb-1"> Detalles esteticos menores</p>
        <p class="mb-1">Movimos unos blogs</p>
        <p class="mb-1">Completamos unas informaciones en about...</p>
        <p class="mb-1">A単adimos nuevos bugs</p>
        </p>
        <small class="text-muted">V 0.0.2</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lista de cambios</h5>
            <small class="text-muted">Enero 2020</small>
        </div>
        <p class="mb-1">con /login logeabas con  tu facebook  y pues nada sacamos tu correo y nombre,  aun no sirve por temas de Facebook privacity</p>
        <p class="mb-1">se corregen bugs de agregar posts*</p>
        </p>
        <small class="text-muted">V 0.0.3</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lista de cambios</h5>
            <small class="text-muted">1 Febrero 2020</small>
        </div>
        <p class="mb-1">Agregamos comentarios, restringimos la creacion de usuarios</p>
        <p class="mb-1">Escondimos el legacy del blog anterior</p class="mb-1">
        <p class="mb-1">Algunas mejoras visuales</p>
        <p class="mb-1">Hasta este punto podria decirse que ya tenemos un sistema funcional donde todos pueden crear sus posts (cosa que por el
             momento esta mal, pero como aun estamos en prealpha y los registros son limitados, no me preocupa mucho)</p>
        <p class="mb-1">Agregamos nuevos bugs!!!</p>
        </p>
        <small class="text-muted">V 0.1.0</small>
    </a>
